<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="common-header">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="icon" href="../../favicon.ico" />

<title>Navbar Template for Bootstrap</title>
<link href="/css/style.css" rel="stylesheet" />
<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
<div th:fragment="navbar">
	<div class="page-top"
		style="width: 100%; height: 20%; background-color: #f46b42;">
		<!-- Static navbar -->
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Book Store</a>
				</div>
				<div id="navbar">
					<ul class="nav navbar-nav navbar-left">
						<li class="active"><a href="#">Browse the bookshelf</a></li>
						<li><a href="#">Store hours &#38; Directions</a></li>
						<li><a href="#">FAQ</a></li>
					</ul>
					<form class="navbar-form">
						<div class="form-group">
							<input type="text" class="form-control" name="keyword"
								placeholder="Book title" />
							<button type="submit" class="btn btn-default">SEARCH</button>
						</div>
					</form>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">SHOPPING CART</a></li>
						<li><a href="#">MY ACCOUN</a></li>
						<li><a href="#">LOGOUT</a></li>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
			<!--/.container-fluid -->
		</nav>
	</div>
	</div>
	<div th:fragment="theScript">
		<!-- Bootstrap core JavaScript
    ================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script
			src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
	</div>
	</body>
</html>